{% extends 'layouts/layout_2.html' %}

{% load static %}

{% block content %}

<!-- Sign Up Start -->
<form class="container-fluid" method="POST">
    {% csrf_token %}
    {{error}}
    <div class="container-fluid">
        <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <div class="bg-dark rounded p-4 p-sm-5 my-4 mx-3">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <a href="index.html" class="">
                            <h3 class="text-primary text-center mb-0"><i class="fa fa-user-edit me-2"></i>Crear Usuario</h3>
                        </a>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingText" name="first_name" placeholder="jhondoe">
                        <label for="floatingText">Nombre</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingText" name="last_name" placeholder="jhondoe">
                        <label for="floatingText">Apellido</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" name="email">
                        <label for="floatingInput">Correo Electronico</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingText" name="username" placeholder="jhondoe">
                        <label for="floatingText">Nombre de Usuario</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input type="password" class="form-control" id="floatingPassword" name="password">
                        <label for="floatingPassword">Contraseña</label>
                    </div>
                    <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Guardar</button>
                    <p class="text-center mb-0">Volver: <a href="/principal">Principal</a></p>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Sign Up End -->

{% endblock %}