{% extends 'layouts/layout.html' %}

{% load static %}

{% block content %}

<!-- Services Start -->
<div class="container-fluid bg-light service py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Servicios</h5>
            <h1 class="mb-0">Nuestros Servicios</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-6">
                <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 pe-0">
                    <div class="service-content text-end">
                        <h5 class="mb-4">Vigilancia Fija</h5>
                        <p class="mb-0">Proporcionamos servicios de vigilancia fija para empresas, residencias y eventos especiales. Nuestro personal altamente capacitado está siempre atento para garantizar su seguridad. Nuestros vigilantes están equipados con las últimas tecnologías y reciben formación continua para adaptarse a las nuevas amenazas y técnicas de seguridad.</p>
                    </div>
                    <div class="service-icon p-4">
                        <i class="fa fa-shield-alt fa-4x text-primary"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 pe-0">
                    <div class="service-content text-end">
                        <h5 class="mb-4">Vigilancia Móvil</h5>
                        <p class="mb-0">Nuestros equipos de vigilancia móvil realizan patrullajes regulares para asegurar áreas extensas y proporcionar una respuesta rápida a incidentes. Utilizamos vehículos equipados con sistemas de comunicación y monitoreo en tiempo real para coordinar las operaciones de seguridad de manera eficiente.</p>
                    </div>
                    <div class="service-icon p-4">
                        <i class="fa fa-car fa-4x text-primary"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 pe-0">
                    <div class="service-content text-end">
                        <h5 class="mb-4">Vigilancia Tecnológica</h5>
                        <p class="mb-0">Implementamos las últimas tecnologías en sistemas de vigilancia, incluyendo CCTV, control de acceso y monitoreo remoto. Nuestros sistemas de vigilancia tecnológica están diseñados para integrarse con otros sistemas de seguridad y proporcionar una capa adicional de protección.</p>
                    </div>
                    <div class="service-icon p-4">
                        <i class="fa fa-camera fa-4x text-primary"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 pe-0">
                    <div class="service-content text-end">
                        <h5 class="mb-4">Consultoría en Seguridad</h5>
                        <p class="mb-0">Ofrecemos servicios de consultoría en seguridad para evaluar, diseñar e implementar estrategias de protección personalizadas. Nuestro equipo de expertos realiza auditorías de seguridad, identifica vulnerabilidades y desarrolla planes de seguridad adaptados a las necesidades específicas de cada cliente. Ya sea para empresas, instituciones o eventos, nuestras soluciones de consultoría aseguran que todos los aspectos de seguridad estén cubiertos de manera integral y eficiente.</p>
                    </div>
                    <div class="service-icon p-4">
                        <i class="fa fa-clipboard-list fa-4x text-primary"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->


{% endblock %}