{% extends 'layouts/layout_2.html' %}

{% block content %}

<form class="container-fluid" method="POST">
    {% csrf_token %}
    {{error}}
    <div class="container-fluid">
        <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <div class="bg-dark rounded p-4 p-sm-5 my-4 mx-3">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                            <h3 class="text-primary text-center"><i class="fa fa-user-edit me-2"></i>{{turno.title}}</h3>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" required id="id_title" name="title" value="{{ turno.title }}">
                        <label for="id_title">Turno</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input type="text" class="form-control" required id="id_descripcion" name="descripcion" value="{{ turno.descripcion }}">
                        <label for="id_descripcion">Descripción</label>
                    </div>

                    <form method="POST">
                        <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Actualizar</button>
                    </form>
                    <form action="{% url 'completar_turno' turno.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Asistencia</button>
                    </form>
                    <form action="{% url 'eliminar_turno' turno.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Eliminar</button>
                    </form>
                    <p class="text-center mb-0">Volver: <a href="/turnos">Turnos</a></p>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}
